@use "./base" as *;
@use "./mixins" as *;

.insure {
  width: 100%;
  &__header {
    background-color: $color-veryLightGray;
  }

  &__menu-wrapper {
    width: 88%;
    margin: 0 auto;
    @media (min-width: 1140px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      max-width: 115rem;
    }
  }

  &__icons-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  // &__logo {
  //   &--footer {
  //   }
  // }

  &__hamburger-button {
    background: transparent;
    border: none;
    @media (min-width: 1140px) {
      display: none;
    }
  }

  // &__hamburger {
  // }

  &__nav {
    position: fixed;
    background-color: $color-veryDarkViolet;
    width: 100%;
    left: 0;
    top: 7.5rem;
    z-index: 1;
    text-align: center;
    min-height: 100vh;
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    &.menu__active {
      visibility: visible;
      opacity: 1;
    }

    @media (min-width: 1140px) {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }

  &__button {
    @include styleButton($color-veryLightGray);
    transition: all 0.3s;

    &:hover {
      @include styleButton($color-veryDarkViolet);
      background-color: $color-veryLightGray;
      cursor: pointer;
    }

    &--menu {
      padding: 1.5rem 9.5rem;
      background: transparent;
      padding: 1rem 0;
      border: 0.15rem solid $color-veryLightGray;
      width: 35rem;
      @media (min-width: 810px) {
      }

      @media (min-width: 1140px) {
        @include styleButton($color-veryDarkViolet);
      }

      &:hover {
        @include styleButton($color-veryLightGray);
        background-color: $color-veryDarkViolet;
      }
    }

    // &--human {
    // }

    &--poster {
      margin-top: 3rem;
      @media (min-width: 1140px) {
        margin-top: 0;
      }
    }
  }

  // &__main {
  // }

  &__human {
    position: relative;
    background-color: $color-darkViolet;
    color: $color-veryLightGray;
    text-align: center;
    @media (min-width: 810px) {
      display: grid;
      grid-template-columns: 60% 40%;
    }

    &::before {
      position: absolute;
      content: url("../images/bg-pattern-intro-left-mobile.svg");
      left: 0;
      top: 0;
    }

    &::after {
      position: absolute;
      content: url("../images/bg-pattern-intro-right-mobile.svg");
      right: 0;
      bottom: -18rem;
    }
    @media (min-width: 1140px) {
      &::before {
        content: url("../images/bg-pattern-intro-left-desktop.svg");
        top: 35rem;
        z-index: 2;
      }
      &::after {
        content: url("../images/bg-pattern-intro-right-desktop.svg");
        bottom: unset;
        top: 0;
        right: 0;
      }
    }
  }

  &__family {
    width: 100%;
    @media (min-width: 810px) {
      position: absolute;
      width: 30rem;
      top: 20%;
      right: 6%;
      transform: translateY(-10%);
      grid-column: 2/3;
    }
    @media (min-width: 1140px) {
      width: 50rem;
      top: 30%;
      right: 25%;
    }
  }

  &__title {
    position: relative;
    font-size: 4.5rem;

    @media (min-width: 1140px) {
      font-size: 7rem;
      max-width: 55rem;
      line-height: 6rem;
    }

    &--secondary {
      &::before {
        content: "";
        position: absolute;
        background-color: $color-darkGrayishViolet;
        width: 15rem;
        height: 0.12rem;
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
      }

      @media (min-width: 1140px) {
        line-height: 12rem;
        width: 88%;
        margin: 0 auto;
        text-align: left;
        max-width: unset;
        &::before {
          left: unset;
          transform: unset;
        }
      }
    }

    &--tertiary {
      font-size: 3.8rem;
      max-width: 44rem;
      margin: 0 auto;

      @media (min-width: 1140px) {
        font-size: 5rem;
        max-width: 65rem;
        text-align: left;
        margin: 0;
      }
    }
  }

  &__description {
    font-family: $font-secondary;
    font-size: 1.65rem;
    line-height: 1.6;
    margin: 1rem auto 3rem auto;
    max-width: 55rem;
    font-family: $font-secondary;
    @media (min-width: 1140px) {
      margin: 3rem 0;
      max-width: 58rem;
    }
  }

  &__differentiation {
    text-align: center;
    width: 88%;
    margin: 0 auto;
    padding: 15rem 0;
    @media (min-width: 1140px) {
      padding: 35rem 0 15rem 0;
    }
  }

  &__diff-box {
    margin: 10rem auto;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    @media (min-width: 1140px) {
      flex-direction: row;
    }
  }

  &__diff-card {
    @media (min-width: 1140px) {
      text-align: left;
    }
  }

  // &__picture {
  // }

  &__name {
    font-size: 2.5rem;
    margin: 3rem 0 1rem 0;
  }

  &__info {
    color: $color-darkGrayishViolet;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 2;
    font-size: 1.47rem;
  }

  &__poster {
    color: $color-veryLightGray;
    background-color: $color-darkViolet;
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    width: 88%;
    margin: 0 auto;
    padding: 5rem 4rem;
    @media (min-width: 1140px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5rem 10rem;
    }
  }

  &__footer {
    background-color: rgba($color-darkGrayishViolet, 0.05);
    background-image: url("../images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    background-size: 39rem;
    background-position: 0 0;
    padding: 10rem 0 5rem 0;
    width: 100%;
  }

  &__social-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 8rem;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      background-color: $color-darkGrayishViolet;
      height: 0.12rem;
      top: 150%;
      left: 50%;
      transform: translateX(-50%);
    }
    @media (min-width: 1140px) {
      flex-direction: row;
      justify-content: space-between;
      width: 88%;
      margin: 0 auto 8rem;
      max-width: 110rem;
    }
  }

  &__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
  }

  // &__social-item {
  // }

  // &__social-link {
  // }

  &__social-icons {
    fill: $color-darkGrayishViolet;
    transition: all 0.3s;

    &:hover {
      fill: $color-veryDarkViolet;
    }
  }

  &__menu {
    width: 88%;
    max-width: 110rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: $font-secondary;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    @media (min-width: 1140px) {
      text-align: left;
    }
  }

  &__list {
    margin-bottom: 4rem;
    &--header {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      list-style: none;
      font-family: $font-secondary;
      margin: 5rem 0;

      @media (min-width: 1140px) {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        list-style: none;
        font-family: $font-secondary;
        margin: 0;
      }
    }
  }

  &__list-item {
    list-style: none;
    // &--header {
    // }
  }

  &__list-link {
    &:link,
    &:visited {
      color: $color-darkGrayishViolet;
      text-decoration: none;
      letter-spacing: 0.2rem;
    }
    &--header {
      &:link,
      &:visited {
        color: $color-veryLightGray;
        text-decoration: none;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
      }

      @media (min-width: 1140px) {
        &:link,
        &:visited {
          color: $color-darkGrayishViolet;
          font-size: 1.3rem;
          transition: all 0.3s;
        }
        &:active,
        &:hover {
          color: $color-veryDarkViolet;
          cursor: pointer;
        }
      }
    }
  }

  &__sublist {
    list-style: none;
    margin-top: 4rem;
    font-weight: 700;
  }

  &__sublist-item {
    margin-bottom: 1.5rem;
  }

  &__sublist-link {
    &:link,
    &:visited {
      color: $color-veryDarkViolet;
      text-decoration: none;
      letter-spacing: 0.2rem;
    }

    &:active,
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
